.fratures {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.featureItems {
  padding: 30px;
  margin: 0 20px;
  flex: 1;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 5px 8px 16px -6px #000000;
  box-shadow: 5px 8px 16px -6px #000000;
}
.featureTitel {
  font-size: 20px;
  font-weight: normal;
}
.featureMoney {
  font-size: 30px;
  font-weight: 600;
}
.featureMoney {
  margin-right: 3px;
}

.iconArrow {
  font-size: 14px;
  color: green;
}
.iconArrow.negtive {
  color: red;
}
.featureSub {
  font-size: 50;
  color: gray;
}
